USE [master]
GO
/****** Object:  Database [DotNetTask]    Script Date: 08-02-2024 19:41:16 ******/
CREATE DATABASE [DotNetTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DotNetTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DotNetTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DotNetTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DotNetTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DotNetTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DotNetTask]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 08-02-2024 19:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NAME] [varchar](30) NOT NULL,
	[EMP_PHONE] [bigint] NOT NULL,
	[EMP_IMAGE] [nvarchar](300) NULL,
	[EMP_CITY] [varchar](30) NOT NULL,
	[EMP_INTEREST] [varchar](100) NULL,
	[EMP_DEPT] [varchar](100) NOT NULL,
	[EMP_SALARY] [numeric](10, 2) NOT NULL,
	[EMP_START_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08-02-2024 19:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [varchar](30) NOT NULL,
	[PRODUCT_DETAILS] [nvarchar](300) NOT NULL,
	[PRODUCT_PRICE] [numeric](10, 2) NOT NULL,
	[PRODUCT_QUANTITY] [int] NOT NULL,
	[PRODUCT_MAN_DATE] [date] NOT NULL,
	[PRODUCT_EXP_DATE] [datetime] NOT NULL,
	[PRODUCT_TYPE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 08-02-2024 19:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[STU_ID] [int] IDENTITY(1,1) NOT NULL,
	[STU_NAME] [varchar](30) NOT NULL,
	[STU_EMAIL] [nvarchar](50) NOT NULL,
	[STU_YEAR] [varchar](10) NOT NULL,
	[STU_INTEREST] [varchar](100) NULL,
	[STU_DIVISION] [varchar](5) NOT NULL,
	[STU_DOB] [datetime] NOT NULL,
	[STU_ADDRESS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[STU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 08-02-2024 19:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[USER_INFO_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](30) NOT NULL,
	[USER_EMAIL] [nvarchar](50) NOT NULL,
	[USER_IMAGE] [nvarchar](300) NULL,
	[USER_LANGUAGE] [varchar](30) NOT NULL,
	[USER_HOBBY] [varchar](100) NOT NULL,
	[USER_DOB] [date] NOT NULL,
	[USER_FEEDBACK] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_INFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08-02-2024 19:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_FNAME] [varchar](30) NOT NULL,
	[USER_LNAME] [varchar](30) NOT NULL,
	[USER_EMAIL] [nvarchar](50) NOT NULL,
	[USER_PASSWORD] [nvarchar](16) NOT NULL,
	[USER_CONTACT] [char](10) NOT NULL,
	[USER_GENDER] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EMP_ID], [EMP_NAME], [EMP_PHONE], [EMP_IMAGE], [EMP_CITY], [EMP_INTEREST], [EMP_DEPT], [EMP_SALARY], [EMP_START_DATE]) VALUES (2, N'hello', 1234545656, N'', N'Surat', N'Writing,Singing,', N'Sales', CAST(3400.00 AS Numeric(10, 2)), CAST(N'2024-02-13' AS Date))
INSERT [dbo].[Employee] ([EMP_ID], [EMP_NAME], [EMP_PHONE], [EMP_IMAGE], [EMP_CITY], [EMP_INTEREST], [EMP_DEPT], [EMP_SALARY], [EMP_START_DATE]) VALUES (3, N'gfggf', 1212121212, N'', N'', N'', N'', CAST(4434.00 AS Numeric(10, 2)), CAST(N'2024-02-12' AS Date))
INSERT [dbo].[Employee] ([EMP_ID], [EMP_NAME], [EMP_PHONE], [EMP_IMAGE], [EMP_CITY], [EMP_INTEREST], [EMP_DEPT], [EMP_SALARY], [EMP_START_DATE]) VALUES (4, N'gfggf', 1212121215, N'Screenshot 2024-01-25 184745.png', N'Ahmedabad', N'Singing,', N'Sales', CAST(1200.00 AS Numeric(10, 2)), CAST(N'2024-02-19' AS Date))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRODUCT_DETAILS], [PRODUCT_PRICE], [PRODUCT_QUANTITY], [PRODUCT_MAN_DATE], [PRODUCT_EXP_DATE], [PRODUCT_TYPE]) VALUES (3, N'TV', N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis velit voluptas vero. Error odio, ipsam expedita mollitia quod delectus.', CAST(45000.23 AS Numeric(10, 2)), 10, CAST(N'2022-03-29' AS Date), CAST(N'2022-03-29T00:00:00.000' AS DateTime), N'Electronics')
INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRODUCT_DETAILS], [PRODUCT_PRICE], [PRODUCT_QUANTITY], [PRODUCT_MAN_DATE], [PRODUCT_EXP_DATE], [PRODUCT_TYPE]) VALUES (14, N'Jeera', N'Drink', CAST(10.00 AS Numeric(10, 2)), 5, CAST(N'2020-03-30' AS Date), CAST(N'2020-03-30T00:00:00.000' AS DateTime), N'Materialistic')
INSERT [dbo].[Products] ([PRODUCT_ID], [PRODUCT_NAME], [PRODUCT_DETAILS], [PRODUCT_PRICE], [PRODUCT_QUANTITY], [PRODUCT_MAN_DATE], [PRODUCT_EXP_DATE], [PRODUCT_TYPE]) VALUES (15, N'Thums Up', N'Drink', CAST(12.34 AS Numeric(10, 2)), 20, CAST(N'2020-12-03' AS Date), CAST(N'2024-02-15T00:00:00.000' AS DateTime), N'Food')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([STU_ID], [STU_NAME], [STU_EMAIL], [STU_YEAR], [STU_INTEREST], [STU_DIVISION], [STU_DOB], [STU_ADDRESS]) VALUES (1, N'harry', N'harry@gmail.com', N'4th Year', N'Writing,Singing,Cricket,', N'A', CAST(N'2024-01-31T00:00:00.000' AS DateTime), N'Addresssss')
INSERT [dbo].[Student] ([STU_ID], [STU_NAME], [STU_EMAIL], [STU_YEAR], [STU_INTEREST], [STU_DIVISION], [STU_DOB], [STU_ADDRESS]) VALUES (2, N'haresh', N'haresh@gmail.com', N'3rd Year', N'Singing,', N'B', CAST(N'2024-02-22T00:00:00.000' AS DateTime), N'Ahmedabad')
INSERT [dbo].[Student] ([STU_ID], [STU_NAME], [STU_EMAIL], [STU_YEAR], [STU_INTEREST], [STU_DIVISION], [STU_DOB], [STU_ADDRESS]) VALUES (3, N'haresh', N'halfdkfjdj@gmail.com', N'2nd Year', N'Singing,Cricket,Travelling,', N'B', CAST(N'2024-02-27T00:00:00.000' AS DateTime), N'Addresssssss')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([USER_INFO_ID], [USER_NAME], [USER_EMAIL], [USER_IMAGE], [USER_LANGUAGE], [USER_HOBBY], [USER_DOB], [USER_FEEDBACK]) VALUES (1, N'haresh', N'haresh@gmail.com', N'', N'Python', N'Travelling,', CAST(N'2024-02-23' AS Date), N'Nothing')
INSERT [dbo].[UserInfo] ([USER_INFO_ID], [USER_NAME], [USER_EMAIL], [USER_IMAGE], [USER_LANGUAGE], [USER_HOBBY], [USER_DOB], [USER_FEEDBACK]) VALUES (2, N'harry', N'harry@gmail.com', N'Screenshot 2024-01-25 184416.png', N'Java', N'Dancing,', CAST(N'2024-02-28' AS Date), N'Nothing.')
INSERT [dbo].[UserInfo] ([USER_INFO_ID], [USER_NAME], [USER_EMAIL], [USER_IMAGE], [USER_LANGUAGE], [USER_HOBBY], [USER_DOB], [USER_FEEDBACK]) VALUES (5, N'Haresh', N'good@gmail.com', N'', N'DotNet', N'Cricket,Reading,Drawing,', CAST(N'2024-03-01' AS Date), N'Absolute.')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([USER_ID], [USER_FNAME], [USER_LNAME], [USER_EMAIL], [USER_PASSWORD], [USER_CONTACT], [USER_GENDER]) VALUES (10, N'Har', N'Haresh', N'gfgf@gmail.com', N'gggfgfg', N'0123456789', 1)
INSERT [dbo].[Users] ([USER_ID], [USER_FNAME], [USER_LNAME], [USER_EMAIL], [USER_PASSWORD], [USER_CONTACT], [USER_GENDER]) VALUES (12, N'fdffdfd', N'fdffdfffgf', N'ggfg@gmail.com', N'4554545', N'4534567678', 0)
INSERT [dbo].[Users] ([USER_ID], [USER_FNAME], [USER_LNAME], [USER_EMAIL], [USER_PASSWORD], [USER_CONTACT], [USER_GENDER]) VALUES (16, N'GFGG', N'Haresh', N'gfgddf@gmail.com', N'gggfgfg', N'6756454323', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Employee__19C0C18A3F27BB0E]    Script Date: 08-02-2024 19:41:16 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[EMP_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__BD67AC95741B0213]    Script Date: 08-02-2024 19:41:16 ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[STU_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserInfo__43CA3168D6E5F7CA]    Script Date: 08-02-2024 19:41:16 ******/
ALTER TABLE [dbo].[UserInfo] ADD UNIQUE NONCLUSTERED 
(
	[USER_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__43CA3168D9712B03]    Script Date: 08-02-2024 19:41:16 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[USER_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__D92AFC4A9659A50D]    Script Date: 08-02-2024 19:41:16 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[USER_CONTACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  ((len([USER_CONTACT])=(10) AND NOT [USER_CONTACT] like '[^0-9]%'))
GO
USE [master]
GO
