@model CustomerModel

@{
	ViewData["Title"] = "Delete Customer";
}

<div class="container mt-5">
	<div class="card w-75 m-auto">
		<div class="card-header">
			<h2 class="card-title">Delete Customer</h2>
			<h4>Are you sure you want to delete this student?</h4>
		</div>
		<div class="card-body">
			<div class="form-group mb-2">
				<label asp-for="Name">Name</label>
				<div class="form-control">@Model.Name</div>
			</div>
			<div class="form-group mb-2">
				<label asp-for="Email">Email</label>
				<div class="form-control">@Model.Email</div>
			</div>
			<div class="form-group mb-4">
				<label asp-for="Address">Address</label>
				<div class="form-control">@Model.Address</div>
			</div>
			<div class="form-group">
				<form action="Delete" method="post">
					<button type="submit" asp-route-id="@Model.CustomerId" class="btn btn-danger me-1">Delete</button>
					<a asp-action="Index" class="btn btn-primary">Back To List</a>
				</form>
			</div>
		</div>
	</div>
</div>
