@model StudentModel

@{
	ViewData["Title"] = "Create";
}

<h3 class="mb-3">Create New Student</h3>

<div class="container p-0">
	<form method="post" asp-controller="Student" asp-action="Create">
		<div class="mb-2">
			<p class="m-0 p-0">First Name </p>
			<input asp-for="Fname" type="text" class="form-control w-25" required />
			<span asp-validation-for="Fname" class="text-danger"></span>
		</div>
		<div class="mb-2">
			<p class="m-0 p-0">Last Name </p>
			<input asp-for="Lname" type="text" class="form-control w-25" required />
			<span asp-validation-for="Lname" class="text-danger"></span>

		</div>
		<div class="mb-2">
			<p class="m-0 p-0">Email</p>
			<input asp-for="Email" type="email" class="form-control w-25" required />
			<span asp-validation-for="Email" class="text-danger"></span>

		</div>
		<div class="mb-2">
			<p class="m-0 p-0">Password</p>
			<input asp-for="Password" type="password" class="form-control w-25" required />
			<span asp-validation-for="Password" class="text-danger"></span>

		</div>
		<div class="mb-2">
			<p class="m-0 p-0">Age</p>
			<input asp-for="Age" min="1" max="120" type="number" class="form-control w-25" required/>
			<span asp-validation-for="Age" class="text-danger"></span>

		</div>
		<div class="mb-2">
			<p class="m-0 p-0">Gender</p>
			<select asp-for="Gender" class="form-control w-25" required>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
			<span asp-validation-for="Gender" class="text-danger"></span>
		</div>

		<div style="display: flex;" class="mt-4">
			<button type="submit" class="btn my-btn2 px-4 me-2">Create</button>
			<a asp-action="index" class="btn my-btn px-4">Back To List</a>
		</div>
	</form>
</div>
