* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-form {
    width: 500px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.login-form h2{
    margin-bottom: 20px;
}

.login-form table{
    width: 100%;
}

    .login-form tr {
        width: 100%;
    }

    .login-form .text-label {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .login-form .text-input{
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
    }
