USE [master]
GO
/****** Object:  Database [WindowForm]    Script Date: 09-02-2024 20:14:23 ******/
CREATE DATABASE [WindowForm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WindowForm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WindowForm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WindowForm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WindowForm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WindowForm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WindowForm]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09-02-2024 20:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NAME] [varchar](30) NOT NULL,
	[EMP_EMAIL] [nvarchar](30) NOT NULL,
	[EMP_PHONE] [bigint] NOT NULL,
	[EMP_DEPT] [varchar](100) NOT NULL,
	[EMP_INTEREST] [varchar](60) NULL,
	[EMP_GENDER] [varchar](10) NOT NULL,
	[EMP_DOB] [datetime] NOT NULL,
	[EMP_SALARY] [numeric](10, 2) NOT NULL,
	[EMP_STATE] [varchar](30) NOT NULL,
	[EMP_CITY] [varchar](30) NOT NULL,
	[EMP_ADDRESS] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__193881193B9ED79C]    Script Date: 09-02-2024 20:14:23 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[EMP_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__19C0C18A0C62DF4F]    Script Date: 09-02-2024 20:14:23 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[EMP_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
